# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Audio files created by YouTube DL
*.webm
*.mp3
*.m4a
*.part
*.mp4
*.opus

# OS specific files
.DS_Store
Thumbs.db 